body {
    background: url('../img/rick-background.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: rgba(0, 128, 255, 0.7);
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    border-bottom: 5px solid cyan;
}

main {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 15px; 
}

h1 {
    font-size: 2.5em;
}

h2, h3 {
    text-align: center;
    font-size: 2em;
}

p {
    font-size: 1.5em;
    line-height: 1.8em;
    text-align: justify;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 15px;
    border: 2px dashed cyan;
    padding: 15px;
    font-size: 1.6em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

ul li strong {
    font-weight: bold;
    color: cyan;
}

img {
    border: 5px solid rgba(0, 255, 255, 0.6);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 15px;
}

ul li img {
    vertical-align: middle;
}

@media screen and (max-width: 1440px) {
    body {
        font-size: 18px;
    }
}

@media screen and (max-width: 375px) {
    body {
        font-size: 12px;
    }
    
    img {
        width: 100px;
        height: 100px;
    }
    
    header, footer {
        font-size: 1.2em;
        padding: 15px;
    }
}

button {
    background-color: cyan;
    color: black;
    border: 2px solid #00ffff;
    padding: 8px 16px; 
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px; 
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #00bcd4;
    transform: scale(1.1);
}

button.active {
    background-color: #00796b;
    color: white;
    font-weight: bold;
    border: 3px solid cyan;
}