<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.sy53678" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Yefrasinnia 53678</name>
    <description>Weather App</description>
    <author email="sy53678@zut.edu.pl" href="https://www.wi.zut.edu.pl">
        Yefrasinnia Shymanskaya
    </author>
    <platform name="electron">
    <icon src="res/electron/icon.png" />
    <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
